<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Eternal Vertex Cover Visualizer</title>

    <style>
        :root {--d: {{display}};}
        body {background-color:#bfdef3;}
        .div-1 {
            background: #ffffff;
            border-radius: 25px;}
        p {margin: 50px;}
    </style>
</head>
<body>
    <div class="container text-center  my-2">
        <h1>Create the grid</h1>
        <form action="/result" method="post">
            <label for="width">Width:</label>
            <input type="number" id="width" value="6" name="width">
            <br>
            <label for="height">Height:</label>
            <input type="number" id="height" value="6" name="height">
            <br>
            <label for="shape">Select a shape for the grid:</label>
                <select id="shape" value="square" name="selected_shape">
                    <option value="triangle">Triangle</option>
                    <option value="square">Square</option>
                    <option value="octagon">Octagon</option>
                    <option value="hexagon">Hexagon</option>
                </select>
            <input type="submit" value="Submit">
        </form>
        <div class="alert alert-danger alert-dismissible" role="alert" id="alert" style="display: var(--d);">
            <div> {{message}} </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
       
    </div>
    <div class="container div-1 my-5">
        <p style="font-size:16px">
        </br>
            Here is a tool for visualizing Eternal Vertex Cover over grid graphs. </br>
            1. Create the grid chosing height, width and the grid type (please avoid grids bigger than 20x20)</br>
            2. Select the edge you want to attack (eg. (1,2)) and watch how guards move in order to protect the edge and
            keep all vertex covered
        </br>
        </br>
        </p>
    </div>
    <div class="container div-1 my-5">
    
        <p style="font-size:16px">
        </br>
            What is an <b>Eternal Vertex Cover</b>? </br>
            An eternal vertex cover is a set of vertices in a graph such that,
            as edges are attacked over time, it is always possible to move
            guards within the graph in response to these attacks such that
            every edge is covered by at least one guard at all times.
        </br>
        </br>
        </p>
    </div>
</body>
</html>